.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.background {
  background-image: url('./assets/img/pet_img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  border: 2px solid black;
}

div.center {
  line-height: 400px;
  height: 400px;
  text-align: center;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
}

div.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.marginCenter {
  margin: 30px;
}

.aligned {
  display: flex;
  align-items: center;
}

span {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
